<h1>Novo médico</h1>
<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" placeholder="Nome..." name="nome" [(ngModel)]="Medico.Nome" >
            <span class="pure-form-message-inline">*</span>
        </div>
        <div class="pure-control-group">
            <label for="crm">CRM:</label>
            <input type="text" id="crm" placeholder="CRM..."  name="crm" [(ngModel)]="Medico.CRM">
            <span class="pure-form-message-inline">*</span>
        </div>
        <div class="pure-control-group">
            <label for="especialidade">Especialidade:</label>
            <input type="text" id="especialidade" placeholder="Especialidade..." name="especialidade" [(ngModel)]="Medico.Especialidade">
        </div>
        <div class="pure-controls">
            <button type="button" class="pure-button pure-button-primary" (click)="incluir()">Incluir</button>
            <button type="reset" class="pure-button">Limpar</button>
            <button type="button" class="pure-button" routerLink="../">Voltar</button>
        </div>
    </fieldset>
</form>
